<article>
	<header>
		<h1> (<%= pluralize(@people.size, 'person') %>)</h1>
	</header>

	<table>
		<% @people.each do | person | %>
			<tr>
				<td><%= link_to full_name(person), person_path(person) %></td>
				<td><%=link_to 'Edit', edit_person_path(person) %></td>
				<td><%= link_to 'Delete', person, 
	                  class: 'button',
	                  method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</table>

	<%=link_to 'Add a new person', new_person_path %>
</article>