<!-- for meta data -->
<% title("Participation")%>
<% description("Participation - #{ENV['COOP_FULL_NAME']}")%>
<!--  -->

<article>
	<header class="header">
		<h1>Participation</h1>
	</header>
	<section class='detail'>
			<% @people.each do |person| %>
				<div class="participation">
				<h2><%= link_to person.full_name, person %></h2>
				<p><%= person.firstname %> has attended <%= person.events.size %> out of <%= person.events_since_joined(@events)%> events and held <%= person.roles.size %> roles in <%= person.years_in_coop %> years.</p>
				</div>
			<% end %>

	</section>

</article>
	<div class="page-actions"></div>