<!-- for meta data -->
<% title("Participation")%>
<% description("Participation - #{ENV['COOP_FULL_NAME']}")%>
<!--  -->

<article>
	<header class="header">
		<h1><%= ENV['COOP_SHORT_NAME']%> Participation</h1>
	</header>
	<section class='detail'>
		<table>
			<% @people.each do |person| %>
				<tr>
				<p><%= person.full_name %>, attended <%= person.events.size %> out of <%= person.events_since_joined(@events)%> events, held <%= person.roles.size %> roles in <%= person.years_in_coop %> years.</p>
			<% end %>
		</table>
	</section>
	<div class="page-actions"></div>
</article>