<!-- for meta data -->
<%= title("#{@person.firstname} #{@person.lastname}")%>
<%= description("Coop details for #{@person.firstname} #{@person.lastname} - #{ENV['COOP_FULL_NAME']}")%>
<!--  -->

<article>
	<header class="header">
		<h1><%= @person.firstname %> <%= @person.lastname %>
			<% if @person.member? %> (Member)<% end %>
			<% if @person.child? %> (U18)<% end %>
		</h1>
	</header>

	<section class='detail'>
		<div class="contact-details">
			<p><i class="fas fa-home"></i><%= link_to @person.property.number_and_address1, property_path(@person.property) %>
				(<% if @person.joined.nil? %>Please confirm the date you moved in
					<% else %><%= time_ago_in_words(@person.joined) %>
					<% end %>)
			</p>
			<p>
				<% unless @person.email.blank? %>
					<i class="fas fa-envelope"></i> <%= @person.email %></p>
				<% end %>
			</p>
			<p>
				<% unless @person.phone.blank? %>
					<i class="fas fa-phone"></i> <%= telephone(@person.phone)%>
				<% end %>
			</p>
		</div>

		<div class="bio">
			<% unless @person.words.blank? %>
				<p><i class="fas fa-quote-left"></i> <%= @person.words %> <i class="fas fa-quote-right"></i></p>	
			<% end %>
		</div>	

		<%if @person.member? %>
		<% unless @roles.empty? %>
		<div class="roles">
			<h2><%=@person.firstname%>'s previous roles.</h2>
			<p>
				<% @roles.each do |role | %> <%= role.job.title %> (<%= nice_short_date(role.role_start) %> - <%= nice_short_date(role.role_end) %>),<% end %> thanks for your participation.
			</p>
	
		<% end %>
		<p><%= @person.firstname %> has attended <%= @person.events.size %> events and held <%= @person.roles.size %> roles in <%= @person.years_in_coop %> years.</p>
		<% end %>
		</div>
	</section>

	<div class="page-actions">
		<%=link_to 'Edit Details', edit_person_path(@person) %>
		<%= link_to 'Delete', @person, 
	                  class: 'button',
	                  method: :delete, data: { confirm: 'Are you sure?' } %>
	 </div>
</article>