<article>
  <header class="header">
    <h1>Resend unlock instructions</h1>
  </header>
  <section>
    <div class="form-wrapper">
      <fieldset>
      	<ul>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <li class="required">
    <%= f.label :email %>
    <%= f.email_field :email, size: 30, autofocus: true, autocomplete: "email" %>
  </li>

  <li class="required">
    <%= f.submit "Resend unlock instructions" %>
  </li>
<% end %>
				</ul>
			</fieldset>
		</div>
	</section>
	<%= render "devise/shared/links" %>
</article>


