<%= form_for [@job] do |f| %>
  <%= render "shared/errors", object: @job %>
    <fieldset>
      <ul>
        <li class="required">
          <%= f.label :title, "Officer Role" %>         
          <%= f.text_field :title, size: 30 , placeholder: 'e.g Secretary'%>
        </li>
        <li class="required">
          <%= f.label :email, "Officer Email" %>         
          <%= f.text_field :email, size: 30 , placeholder: 'e.g Secretary'%>
        </li>
      
        <%= f.submit 'Submit' %> 

      </ul>
    </fieldset>
<% end %>
