<!-- for meta data -->
<% title("Details for #{@job.name}")%>
<% description("Details for #{@job.name} - #{ENV['COOP_FULL_NAME']}")%>


<article>

	<header class="header">
		<h1><%= @job.name %>.</h1>
		</header>

	<section class='detail'>
		<table>
			<tr>
				<td>telephone :</td>
				<td><%= @job.phone %></td>
			</tr>
			<tr>
				<td>email :</td>
				<td><%= @job.email %></td>
			</tr>
			<tr>
				<td>details :</td>
				<td><%= @job.details %></td>
			</tr>
		</table>
	</section>

	<div class="page-actions">
			<%=link_to 'Edit Details', edit_job_path(@job) %>
			<%= link_to 'Delete', @job, 
		                  class: 'button',
		                  method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
</article>