<article>
  <header class="header">
    <h1>Forgot your password?</h1>
  </header>
  <section>
    <div class="form-wrapper">
      <fieldset>
      	<ul>

				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <%= render "shared/errors", object: resource %>

				  <li class="required">
				    <%= f.label :email %>
				    <%= f.email_field :email, size: 30, autofocus: true, autocomplete: "email" %>
				  </li>

				  <li class="required">
				    <%= f.submit "Send me reset link" %>
				  </li>
				<% end %>
				</ul>
			</fieldset>
		</div>
	</section>
	<%= render "devise/shared/links" %>
</article>




