<!-- for meta data -->
<% title("#{@property.number_and_address1}")%>
<% description("property details for #{@property.house_name_no} #{@property.address1} - #{ENV['COOP_FULL_NAME']}")%>


<article>
	<header class="header">
		<h1><%= @property.number_and_address1%>, 
			<% if @property.address2 %><%= @property.address2 %>,<% end %>
			<%= @property.postcode %></h1>
	</header>

	<section class='detail'>

		<div class="rent">
			<p>
				Rent is currently charged at <%= show_money(@property.rent_per_week)%> per week. 
				(Pro rata <%= rent_per_month(@property.rent_per_week)%> per month / <%= rent_per_day(@property.rent_per_week)%> per day)

				<% unless @property.new_rent_value.nil? %>. This is scheduled to change to <%= show_money(@property.new_rent_value)%> per week<% end %><% unless @property.rent_change.nil? %> as of the <%=nice_short_date(@property.rent_change)%><% end %>.</p>

			<% unless @rent_balance.nil? %>
			<p>The balance of the rent account, (as of the <%= nice_short_date(Time.now)%>), is <%=show_money(@rent_balance)%> <%=show_balance(@rent_balance)%>.
			<% unless @rent_balance >=0 %>	
				<p>Please contact the Rent Officer the account is in arrears.</p>
				<% end %>

			<% end %>

			<% unless @payments.empty? %>

				<%= render "layouts/rentbook" %>

			<% end %>
		</div>

		<div class="residents">	
			<% if @people.empty? %>
				<h2>This property has been empty for <%= empty(@property)%>.</h2>
			<% else %>
				<h2><%= pluralize(@people.size, 'Resident') %></h2>
				<table>
					<% @people.each do | person |%>
						<tr>
							<td><%= link_to person.full_name, person %></td>
							<td><% if person.member?%> (Member)<% end %>
									<% if person.child?%> (U18) <% end %>	
							</td>
						</tr>
					<% end %>
				</table>
			<% end %>
		</div>

		<div class="maintenance">
			<% unless @property.kitchen_upgrade.nil? %>
				<p>Kitchen refurb due <%= month_year(@property.kitchen_upgrade) %>, (<%=kitchen_year(@property)%> to go).</p>
			<% end %>
			<!-- maintenance may be shown regardless of people -->
		</div>

	</section>

	<div class="page-actions">
		<%=link_to 'Edit', edit_property_path(@property) %>
		<%= link_to 'Delete', @property, 
	                  class: 'button',
	                  method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>

</article>