<!-- for meta data -->
<% title("#{@property.number_and_address1}")%>
<% description("property details for #{@property.number_and_address1} - #{ENV['COOP_FULL_NAME']}")%>


<article>
	<header class="header">
		<h1><%= @property.number_and_address1%>, <% if @property.address2 %><%= @property.address2 %><% end %>, <%= @property.postcode %></h1>
	</header>

	<section class='property'>
		<div class="basic-info">
			<p>
				Rent is currently charged at <%= show_money(@property.rent_per_week)%> per week. 
				(Pro rata <%= rent_per_month(@property.rent_per_week)%> per month / <%= rent_per_day(@property.rent_per_week)%> per day)<% unless @property.new_rent_value.nil? %>. 
					This is scheduled to change to <%= show_money(@property.new_rent_value)%> per week<% end %><% unless @property.first_day_of_next_rent_period.blank? %> as of the <%=nice_short_date(@property.first_day_of_next_rent_period)%><% end %>.</p>

				<% unless @rent_balance.nil? %>
				<p>The balance of the rent account, (as of the <%= nice_short_date(Time.now)%>), is <%=show_money(@rent_balance)%> <%=show_balance(@rent_balance)%>.<% end %>
						
			<% unless @property.kitchen_upgrade.nil? %>
				<p>Kitchen refurb due <%= month_year(@property.kitchen_upgrade) %>, (<%=kitchen_year(@property)%> to go).</p>
			<% end %>
		</div>
		<% if @property.vacant? %>
			<h2>This property has been empty for <%= empty(@property)%>.</h2>
			<p>The closing balance from previous tenancy was <%=show_money(@property.end_of_tenancy_balance)%></p>
			<p>Void rent accrued since vacant <%=show_money(@property.balance)%></p>
		<% else %>
		<div class="residents">
			<input type="checkbox" id="residents" class="residents-check">
			<label for="residents" class="show-residents">Residents</label>
		<div class="residentlist">	

				<table>
					<% @people.each do | person |%>
						<tr>
							<td><%= link_to person.full_name, person %></td>
							<td><% if person.member?%> (Member)<% end %>
									<% if person.child?%> (U18) <% end %>	
							</td>
						</tr>
					<% end %>
				</table>

			</div>
		</div>

		<div class="rent">
			<% unless @payments.blank? %>
			<input type="checkbox" id="rentbook" class="rentbook-check">
			<label for="rentbook" class="show-rentbook">Rent Book</label>
				<div class="renthistory">
					<%= render "layouts/rentbook" %>
				</div>
			<% end %>
		</div>
		<% end %>
		<div class="maintenance">
			<% unless @property.maintenances.empty? %>
			<input type="checkbox" id="maintenance" class="maintenance-check">
			<label for="maintenance" class="show-maintenance">Maintenance</label>
				<div class="maintenancehistory">
					<%= render "layouts/maintenance" %>
				</div>
			<% end %>
		</div>
	</section>



</article>
<% if property_rights? %>
	<div class="page-actions">
		<%=link_to 'Edit', edit_property_path(@property) %>
		<%= link_to 'Delete', @property, 
	                  class: 'button',
	                  method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
<% end %>