<% if Property.by_street_name_number.blank? %>
  <p>A property must be added before a rent payment allocated, <%=link_to 'please add a property', properties_path%> first.</p>
<% else %> 
  <%= form_for [@rent] do |f| %>
    <%= render "shared/errors", object: @rent %>
      <fieldset>
        <ul>
           <li class="required">
            <%= f.label :property_id, "Property" %>
            <%= f.collection_select(:property_id, Property.by_street_name_number, :id , :number_and_address1, prompt: "Choose Property" ) %>
          </li>
          <li class="required">
            <%= f.label :date, "Date (on statement)"%>
            <%= f.date_select :date , { order: [ :day, :month, :year], 
                                                  start_year: Date.today.year - 2, 
                                                  end_year: Date.today.year, 
                                                } %>
          </li>
          <li class="required">
            <%= f.label :payment, "Payment Amount £" %>         
            <%= f.number_field :payment, size: 40 , step: :any, placeholder: 'just numbers no spaces'%>
          </li>
          <li class="required">
            <%= f.label :notes, "Notes" %>         
            <%= f.text_field :notes, size: 40, placeholder: "any additional information" %>
          </li>
        
        <p>
          <%= f.submit 'Submit' %> 
        </p>
        </ul>
      </fieldset>
    <% end %>
<% end %>
