<!-- for meta data -->
<%= title("#{controller_name.titleize}")%>
<%= description("Rent - #{ENV['COOP_FULL_NAME']}")%>
<!--  -->

<article>
	<header>
		<h1><%= ENV['COOP_SHORT_NAME']%> rent administration, <%= pluralize(@payments.size, 'payment') %> received.</h1>
	</header>
	<table>
		<tr>
			<td>Date</td>
			<td>For</td>
			<td>Amount</td>
			<td>Notes</td>
			<td></td>
		</tr>

		<% @payments.each do | payment | %>
		<tr>
			<td><%=short_date(payment.date)%></td>
			<td><%=home_address(payment.property)%></td>
			<td><%=show_money(payment.payment)%></td>		
			<td><%=truncate(payment.notes, length: 40, separator: ' ')%></td>
			<td><%=link_to 'edit', edit_rent_path(payment) %></td>
			<td><%=link_to 'delete', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</table>

	<div class="page-actions">
		<%=link_to 'Add A New Rent Payment', new_rent_path %>
	</div>
</article>