<!-- for meta data -->
<% title("#{controller_name.titleize}")%>
<% description("Rent - #{ENV['COOP_FULL_NAME']}")%>


<article>

	<header class="header">
		<h1><%= ENV['COOP_SHORT_NAME']%> rent administration</h1>
		<% unless @payments.empty? %>
		<p><%= nice_short_date(@first)%> - <%= nice_short_date(Time.now.to_date) %>, (<%= pluralize(@payments.size, 'payment') %> made, <%= show_money(@money)%> received).</p>
		<% end %>
		</header>

	<section class='detail'>
		<%= render "layouts/rentbook" %>
		</section>

	<div class="page-actions">
		<%=link_to 'Add A New Rent Payment', new_rent_path %>
		<%=link_to 'Run Rent Report', rent_report_path %>
		
		</div>

</article>
