<!-- for meta data -->
<% title("#{controller_name.titleize}")%>
<% description("Rent - #{ENV['COOP_FULL_NAME']}")%>
<article>
	<header class="header">
		<h1>Rent
		<span class="filter">
							<%= form_with url: rents_path, method: :get, local: :true do |f| %>
				 			<%= f.collection_select(:property_id, Property.by_street_name_number, :id , :number_and_address1, prompt: "All Properties" ) %>
				 			<%= f.button do %>
				 			        <i class="fas fa-arrow-right"></i>
				 			    <% end %>



				 			<% end %></span></h1>
				 			
		<% unless @payments.empty? %>
		<p><%= nice_short_date(@payments.first_payment_date)%> - <%= nice_short_date(Time.now.to_date) %>, (<%= pluralize(@payments.size, 'payment') %> made, <%= show_money(@money)%> collected).</p>

		<% end %>
	</header>
	<section class='detail'>

		<%= render "layouts/rentbook" %>
	</section>
</article>
<% if rent_rights? %>
	<div class="page-actions">
		<%=link_to 'Add Payment', new_rent_path %>
		<%=link_to 'Rent Report', rent_report_path %>
		<%=link_to 'Download CSV', rents_path(format: "csv") %>
	</div>
<% end %>
