<!-- for meta data -->
<% title("#{controller_name.titleize}")%>
<% description("Rent - #{ENV['COOP_FULL_NAME']}")%>


<article>

	<header class="header">
		<h1><%= ENV['COOP_SHORT_NAME']%> rent administration</h1>
		<p><%= pluralize(@payments.size, 'payment') %> made since the <%= nice_short_date(@first)%>, <%= show_money(@money)%> received.</p>
		</header>

	<section class='detail'>
		<%= render "layouts/rentbook" %>
		</section>

	<div class="page-actions">
		<%=link_to 'Add A New Rent Payment', new_rent_path %>
		<%=link_to 'Run Rent Report', rent_report_path %>
		
		</div>

</article>
