<!-- for meta data -->
<% title("Rent Report")%>
<% description("Rent Report - #{ENV['COOP_FULL_NAME']}")%>
<article>
	<header class="header">
		<h1>Rent Reporting.</h1>
	</header>
	<section class='report'>
		<div class="live-report">
			<h2>Current rent positions as of <%= nice_short_date(Time.now.to_date)%>.</h2>
				<table>
				<% @houses.each do |house| %>
				<tr>
					<td><%= link_to house.number_and_address1, property_path(house) %></td>
					<td class='money'><%= show_money(house.balance) %></td>
					<td><%=show_balance(house.balance)%></td>
					<td class='hide'><% if house.vacant?%>(vacant since <%= short_date(house.moving_out_date + 1) %>)<% end %><td>
				</tr>
				<% end %>
				</table>
		</div>
	<div class="void-rent">
		<h2></h2>
	</div>
		</section>
</article>
