<!-- for meta data -->
<% title("Rent Report")%>
<% description("Rent Report - #{ENV['COOP_FULL_NAME']}")%>
<article>
	<header class="header">
		<h1>Rent Report (<%= nice_short_date(Time.now.to_date)%>)</h1>
		</header>
	<section class='report'>
		<table>
		<% @houses.each do |house| %>
		<tr>
			<td><%= link_to house.number_and_address1, property_path(house) %></td>
			<td class='money'><%= show_money(house.balance) %></td>
			<td><%=show_balance(house.balance)%></td>
			<td class='hide'><% if house.vacant?%>(vacant since <%= short_date(house.moving_out_date + 1) %>)<% end %><td>
		</tr>
		<% end %>
		</table>
		<p>(Total accumulated void rent for all properties <%=show_money(@total_void_rent)%>)</p>
		</section>
</article>
