<!-- for meta data -->
<% title("Rent payment for #{@rent.property.number_and_address1}")%>
<% description("Edit rent payment - #{ENV['COOP_FULL_NAME']}")%>


<article>

	<header class="header">
		<h1>Payment for <%=link_to @rent.property.number_and_address1, @rent.property%></h1>
		</header>

	<section class='detail'>
		<table>
			<tr>
				<td>On Statement</td>
				<td><%= nice_short_date(@rent.date) %></td>
			</tr>
			<tr>
				<td>Amount Paid</td>
				<td><%= show_money(@rent.payment) %></td>
			</tr>
			<% unless @rent.notes.blank? %>
			<tr>
				<td>Notes</td>
				<td><%= @rent.notes%></td>
			</tr>
			<% end %>
			<tr>
				<td>Updated On</td>
				<td><%= nice_short_date(@rent.updated_at) %></td>
			</tr>
		</table>
	</section>



</article>
<% if rent_rights? %>
	<div class="page-actions">
		<%=link_to 'Edit', edit_rent_path(@rent) %>
		<%=link_to 'Delete', @rent, method: :delete, data: { confirm: 'Are you sure?' } %>
		<%=link_to 'Add', new_rent_path %>
<% end %>
		</div>