<!-- for meta data -->
<% title("Rent payment for #{@rent.property.number_and_address1}")%>
<% description("Edit rent payment - #{ENV['COOP_FULL_NAME']}")%>


<article>

	<header class="header">
		<h1>Payment made for <%= @rent.property.number_and_address1%></h1>
		</header>

	<section class='detail'>
		<table>
			<tr>
				<td>On Statement</td>
				<td><%= nice_short_date(@rent.date) %></td>
			</tr>
			<tr>
				<td>Property</td>
				<td><%=link_to @rent.property.number_and_address1, @rent.property%></<td>
			</tr>
			<tr>
				<td>Amount Paid</td>
				<td><%= show_money(@rent.payment) %></td>
			</tr>
			<% unless @rent.notes.empty? %>
			<tr>
				<td>Notes</td>
				<td><%= @rent.notes%></td>
			</tr>
			<% end %>
		</table>
	</section>

	<div class="page-actions">
		<%=link_to 'Edit This Payment', edit_rent_path(@rent) %>
		<%=link_to 'Delete This Payment', @rent, method: :delete, data: { confirm: 'Are you sure?' } %>
		<%=link_to 'Rent Home', rents_path(@rent) %>
		</div>

</article>