<%= form_for [@event] do |f| %>
  <%= render "shared/errors", object: @event %>
    <fieldset>
      <ul>
        <li class="required">
          <%= f.label :date_time, "When" %> 
          <%= f.datetime_select :date_time, :ampm => true, :minute_step => 15, :order => [:day, :month, :year]  %>
        </li>
        <li class="required">
          <%= f.label :title, "Title" %>         
          <%= f.text_field :title, size: 30 , placeholder: 'e.g General Meeting'%>
        </li>
        <li class="required">
          <%= f.label :where, "Where" %>         
          <%= f.text_field :where, size: 30 , placeholder: 'e.g 57 Mount Pleasant St'%>
        </li>
        <li class="required">
          <%= f.label :details, "Details" %>         
          <%= f.text_area :details, cols: 30, rows: 7, 
           placeholder:"add the details" %>
        </li>
        <li class="required">
          <%= f.label :link, "link" %>         
          <%= f.text_field :link, size: 30 , placeholder: 'link to docs'%>
        </li>
        <p>Complete check boxes below after the event to register participation.</p>
        <li>
          <%= f.collection_check_boxes(:person_ids, Person.members, :id , :full_name) %>
        </li>
      
      <p>
        <%= f.submit 'Submit' %> 
      </p>
      </ul>
    </fieldset>
<% end %>
