<!-- for meta data -->
<% title("#{controller_name.titleize}")%>
<% description("Calendar #{ENV['COOP_FULL_NAME']}")%>
<article>
	<header class="header">
		<h1>Calendar Admin.</h1>
	</header>

	<section class='detail'>
		<table>
			<tr>
				<td>when</td>
				<td>what</td>
				<td>where</td>
				<td>details</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			
			<% @events.each do | event | %>
			<tr>
				<td><%= time_date(event.date_time) %></td>
				<td><%= event.title %></td>
				<td><%= event.where %></td>
				<td><%= truncate(event.details, length: 30, separator: ' ')%></td>
				<td><%=link_to calendar_path(event) do %>
					<i class="fas fa-binoculars"></i>
					<% end %>
				</td>
				<td><%=link_to edit_calendar_path(event) do %>
					<i class="fas fa-edit"></i>
					<% end %>
				</td>
				<td><%= link_to event, 
				                class: 'button',
				                method: :delete, data: { confirm: 'Are you sure?' } do %>
				                	<i class="fas fa-trash"></i>
				                	<% end %>
				                </td>
			</tr>
			<% end %>
		</table>
	</section>


</article>
	<div class="page-actions">
		<%=link_to 'Add Event', new_calendar_path %>
	</div>