<!-- for meta data -->
<% title("Upcoming Events")%>
<% description("Upcoming Events #{ENV['COOP_FULL_NAME']}")%>
<article>
	<header class="header">
		<h1>Upcoming Events.</h1>
	</header>

	<section class='detail'>
		<% @events.each do | event | %>
			<div class="event vevent">
				<h2><span class='dstart'><%= time_day(event.date_time) %></span> - <span class="summary"><%= event.title %></span></h2>
				<h3 class='location'><%= event.where %></h3>
				<p><%= event.details %></p>
				<p><%= event.link %></p>
			</div>
		<% end %>
	</section>
</article>
