<!-- for meta data -->
<% title("#{controller_name.titleize}")%>
<% description("Approved Contractors #{ENV['COOP_FULL_NAME']}")%>


<article>

	<header class="header">
		<h1><%= ENV['COOP_SHORT_NAME']%> Contractor List</h1>
	</header>

	<section class='detail'>
		<table>
			<% @contractors.each do |contractor| %>
			<tr>
				<td><%= contractor.name %></td>
				<td><%=	contractor.details %></td>
				<td><%= contractor.phone %></td>
				<td><%= contractor.email %></td>
				<td><%=link_to 'Edit', edit_contractor_path(contractor) %></td>
				<td><%=link_to 'Delete', contractor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<!-- <td><%= contractor.details %></td> -->
			</tr>
			<% end %>
		</table>
	</section>

	<div class="page-actions">
		<%=link_to 'Add a contractor', new_contractor_path %>

		</div>

</article>
