<!-- for meta data -->
<% title("#{@contractor.name} previous work")%>
<% description("#{@contractor.name} #{ENV['COOP_FULL_NAME']}")%>

<article>
	<header class="header">
		<h1><%= @contractor.name %>.</h1>
	</header>
	<section class='detail'>
			<% @previous_work.each do |job| %>
			<div class="work">
				<h2><%= nice_short_date(job.date)%>, <%= link_to job.property.number_and_address1, property_path(job.property)%> - <%= job.worktype.title %> (<%= show_money(job.cost)%>)</h2>
				<p><%=	job.details %></p>
			</div>
			<% end %>
	</section>
</article>
