<!-- for meta data -->
<% title("#{controller_name.titleize}")%>
<% description("Maintenance home #{ENV['COOP_FULL_NAME']}")%>
<article>
	<header class="header">
		<h1>Maintenance - <%= pluralize(@maintenances.size, 'job') %>.</h1>
		<% unless @maintenances.empty? %>
		<p><%= nice_short_date(@maintenances.first_job_date)%> - <%= nice_short_date(Time.now.to_date) %>, (<%= pluralize(@maintenances.size, 'job') %> completed at a cost of <%= show_money(@money)%>).</p>
		<% end %>
	</header>

	<section class='detail'>
		<div class="filters">
		</div>


		<%= render "layouts/maintenance" %>
	</section>
</article>
<div class="page-actions">
	<%=link_to 'Add Job', new_maintenance_path %>
	<%=link_to 'Contractors', contractors_path %>
	<%=link_to 'Categories', worktypes_path %>
</div>
