<!-- for meta data -->
<% title("#{controller_name.titleize}")%>
<% description("Maintenance home #{ENV['COOP_FULL_NAME']}")%>
<article>
	<header class="header">
		<h1>Maintenance - <%= pluralize(@maintenances.size, 'job') %>.
			<span class="filter">
								<%= form_with url: maintenances_path, method: :get, local: :true do |f| %>
								<%= f.collection_select(:worktype_id, Worktype.alphabetically, :id , :title , prompt: "All Categories" ) %>	
								<%= f.submit 'go' do %>
				 			        <i class="fas fa-arrow-right"></i>
				 			        <% end %>
					 			<% end %></span>


		</h1>
		<% unless @maintenances.empty? %>
		<p><%= nice_short_date(@maintenances.first_job_date)%> - <%= nice_short_date(Time.now.to_date) %>, (<%= pluralize(@maintenances.size, 'job') %> completed at a cost of <%= show_money(@money)%>).</p>
		<% end %>
		<span class="filter">

			</span>

	</header>

	<section class='detail maintenance'>
		


		<%= render "layouts/maintenance" %>
	</section>
</article>
<div class="page-actions">
	<%=link_to 'Add Job', new_maintenance_path %>
	<%=link_to 'Contractors', contractors_path %>
	<%=link_to 'Categories', worktypes_path %>
	<%=link_to 'Download CSV', maintenances_path(format: "csv") %>
</div>
