<!-- for meta data -->
<% title("Maintenance job for #{@maintenance.property.number_and_address1}")%>
<% description("Maintenance job for #{@maintenance.property.number_and_address1} - #{ENV['COOP_FULL_NAME']}")%>


<article>
	<header class="header">
		<h1>Maintenance work for <%= link_to @maintenance.property.number_and_address1, property_path(@maintenance.property) %></h1>
		</header>

	<section class='detail'>
		<div class="job">
				<h2><%= nice_short_date(@maintenance.date)%> <%= @maintenance.worktype.title %>, (<%= link_to @maintenance.contractor.name, contractor_path(@maintenance.contractor) %>) - <%= show_money(@maintenance.cost) %></h2>

				<% unless @maintenance.details.blank? %>

					<p><%= @maintenance.details%></p>
				<% end %>
		</div>
	</section>
</article>
<% if maintenance_rights? %>
<div class="page-actions">
	<%=link_to 'Edit This Job', edit_maintenance_path(@maintenance) %>
	<%=link_to 'Delete This Job', @maintenance, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
<% end %>
	