<!-- for meta data -->
<% title("#{controller_name.titleize}")%>
<% description("Officer Roles #{ENV['COOP_FULL_NAME']}")%>
<article>
	<header class="header">
		<h1><%= ENV['COOP_SHORT_NAME']%> Officers.</h1>
	</header>

	<section class='detail'>
		<table>
		<tr>
			<td>Role</td>
			<td>Person</td>
			<td>Email</td>
			<td>from</td>
			<td></td>
			<td>to</td>

		</tr>

		<% @roles.each do |role | %>
		<tr>
			<td><%=role.job.title%></td>
			<td><%=role.person.full_name%></td>
			<td><%= role.job.email %></td>
			<td><%=short_date(role.role_start)%></td>
			<td> - </td>
			<td><%=short_date(role.role_end)%></td>
			<td><%=link_to 'Edit', edit_role_path(role) %></td>
			<td><%=link_to 'Delete', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>		
		</tr>
		<% end %>
		</table>


	</section>

	<div class="page-actions">
		<%= link_to	"Allocate Role", new_role_path %>
		<%=link_to 'Manage Titles', jobs_path%>

	</div>
</article>
