<p>Hello <%= @email %>!</p>
<p></p>
<% if @resource.try(:unconfirmed_email?) %>
  <p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
<% end %>
<p></p>
<p>thanks!</p>
<p><%= ENV['COOP_SHORT_NAME'] %></p>
<p></p>
<h2 class='name' style="text-align: center"><%= ENV['COOP_FULL_NAME']%></h2>
<p class='text' style="text-align: center"><%= ENV['COOP_FOOTER']%></p>
<p class='address' style="text-align: center">Registered Office : <%= ENV['COOP_ADDRESS']%></p>
