<p>Hello <%= @resource.firstname %>!</p>
<p></p>
<p>We're contacting you to notify you that your password has been changed.</p>
<p></p>
<p>thanks!</p>
<p><%= ENV['COOP_SHORT_NAME'] %></p>
<p></p>
<h3 class='name' style="text-align: center"><%= ENV['COOP_FULL_NAME']%></h2>
<p class='text' style="text-align: center"><%= ENV['COOP_FOOTER']%></p>
<p class='address' style="text-align: center">Registered Office : <%= ENV['COOP_ADDRESS']%></p>
<p class='address' style="text-align: center"><%= ENV['COOP_WEB_ADDRESS']%></p>