<p>Hi <%= @resource.firstname %>!</p>
<p></p>
<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
<p></p>
<p>thanks!</p>
<p><%= ENV['COOP_SHORT_NAME'] %></p>
<p></p>
<h3 class='name' style="text-align: center"><%= ENV['COOP_FULL_NAME']%></h2>
<p class='text' style="text-align: center"><%= ENV['COOP_FOOTER']%></p>
<p class='address' style="text-align: center">Registered Office : <%= ENV['COOP_ADDRESS']%></p>
<p class='address' style="text-align: center">Registered Office : <%= ENV['COOP_WEB_ADDRESS']%></p>