<h2 class='name'><%= ENV['COOP_FULL_NAME']%></h2>
<p class='text'><%= ENV['COOP_FOOTER']%></p>
<p class='address'>Registered Office : <%= ENV['COOP_ADDRESS']%></p>
<p class='copy'>&copy; <%=link_to 's33d','http://www.s33d.co'%> <%= Time.current.year %></p>
