<header class='masthead'>
	<h1><i class="fas fa-home"></i><%= ENV['COOP_NAME']%></h1>
	<nav>
		<ul class="main-nav">
			<li>
				<%=link_to 'Home', welcome_path%>
			</li>
			<li>
				<%=link_to 'Allocations', allocations_path%>
			</li>
			<li>
				<%=link_to 'Contact', new_message_path%>
			</li>
			<% if person_signed_in? %>
				<li>
					<%=link_to 'SignOut', destroy_person_session_path, method: :delete %>
				</li>
				<% else %>
					<li>
						<%=link_to 'Members', new_person_session_path%>
					</li>
				<% end %>
		</ul>
	</nav>
</header>