<header class='masthead'>
	<h1><i class="fas fa-home"></i><%= ENV['COOP_NAME']%></h1>
	<nav>
		<ul class="main-nav">
			<li>
				<%=link_to 'Home', welcome_path%>
			</li>
			<li>
				<%=link_to 'Allocations', allocations_path%>
			</li>
			<li>
				<%=link_to 'Contact', contact_path%>
			</li>
			<li>
				<%=link_to 'Members', properties_path%>
			</li>
		</ul>
	</nav>
</header>