<table class="maintenance">
	<tr class='hide'>
		<td>Date of Work</td>
		<td>Property</td>
		<td>Category</td>
		<td>Cost</td>
		<td>Details</td>
		<td class='hide-name'>Contractor</td>

		<td></td>
		<td></td>
	</tr>
	<% @maintenances.each do | maintenance | %>
	<tr>
		<td><%= short_date(maintenance.date) %></td>
		<td class='hide'><%=link_to "#{maintenance.property.number_and_address1}", maintenance.property%></td>
		<td><%= maintenance.worktype.title %></td>
		<td class='hide money'><%= show_money(maintenance.cost) %></td>
		<td><%= truncate(maintenance.details, length: 60, separator: ' ')%></td>
		<td class='hide hide-name'><%= link_to maintenance.contractor.name, contractor_path(maintenance.contractor) %></td>
		<td><%=link_to maintenance_path(maintenance) do %>
			<i class="fas fa-binoculars"></i>
			<% end %>
		</td>
		<td class='hide'><%=link_to  edit_maintenance_path(maintenance) do %>
			<i class="fas fa-edit"></i>
		<% end %>
		</td>
		<td class='hide'><%= link_to  maintenance, method: :delete, data: { confirm: 'Are you sure?' } do %>
			<i class="fas fa-trash"></i>
			<% end %>
		</td>
	</tr>
	<% end %>
	</table>
