<table class="rentbook">
	<tr>
		<td>On Statement</td>
		<td>Property</td>
		<td>Payment</td>
		<td>Notes</td>
		<td>Updated</td>
		<td></td>
		<td></td>
	</tr>
	<% @payments.each do | rent | %>
	<tr>
		<td><%=nice_short_date(rent.date)%></td>
		<td><%=link_to "#{rent.property.number_and_address1}", rent.property%></td>
		<td class='money'><%=show_money(rent.payment)%></td>
		<td><%=truncate(rent.notes, length: 40, separator: ' ')%></td>
		<td><%=short_date(rent.updated_at)%></td>		
		<td><%=link_to 'edit', edit_rent_path(rent) %></td>
		<td><%=link_to 'delete', rent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>
