<nav class="admin-nav">
	<ul>
		<li>
			<%=link_to 'Properties', properties_path%>
		</li>
		<li>
			<%=link_to 'People', people_path%>
		</li>
		<li>
			<%=link_to 'Contractor List', contractors_list_path%>
		</li>
		<li>
			<%=link_to 'Rent Report', rent_report_path%>
		</li>	
		<li>
			<%=link_to 'Calendar', upcoming_events_path%>
		</li>
		<li>Documents</li>
		<li></li>
		<li></li>
		<li>
			<%=link_to 'Rent Admin', rents_path%>
		</li>
		<li>
			<%=link_to 'Maintenance Admin', maintenances_path%>
		</li>
		<li>
			<%=link_to 'Calendar Admin', calendars_path%>
		</li>
		<li>
			<%=link_to 'Officers Admin', roles_path%>
		</li>
		<li>Participation Admin</li>	
	</ul>
</nav>
