<nav>
	<input type="checkbox" id="mobile-menu" class="mobile-menu-check">
	<label for="mobile-menu" class="show-mobile-menu">
		<i class="fas fa-home"></i>
	</label>
	<ul class="admin-nav">
		<li>
			<%=link_to 'Properties', properties_path%>
		</li>
		<li>
			<%=link_to 'People', people_path%>
		</li>
		<li>
			<%=link_to 'Events', upcoming_events_path%>
		</li>
		<li>Documents</li>
		<li>
			<%=link_to 'Contractors', contractors_list_path%>
		</li>
		<li>
			<%=link_to 'Rent Report', rent_report_path%>
		</li>	
		<li>
			<%=link_to 'Participation', participation_path%>
		</li>
		<li>
			<%=link_to 'Rent', rents_path%>
		</li>
		<li>
			<%=link_to 'Maintenance', maintenances_path%>
		</li>
		<li>
			<%=link_to 'Calendar', calendars_path%>
		</li>
		<li>
			<%=link_to 'Officers', roles_path%>
		</li>
	</ul>
</nav>
