<nav class="admin-nav">
	<ul>
		<li>
			<%=link_to 'Properties', properties_path%>
		</li>
		<li>
			<%=link_to 'People', people_path%>
		</li>
		<li>
			<%=link_to 'Contractor List', contractors_path%>
		</li>
		<li>
			<%=link_to 'Current Officers', roles_path%>
		</li>
		<li>Calendar</li>
		<li>Documents</li>
		<li>
			<%=link_to 'Rent Report', rent_report_path%>
		</li>	

		<li></li>
		<li></li>

		<li>access under dependent on log in</li>
		<li></li>
		<li></li>
		<li>
			<%=link_to 'Rent Admin', rents_path%>
		</li>
		<li>
			<%=link_to 'Maintenance Admin', maintenances_path%>
		</li>
		<li>
			<%=link_to 'Contractors Admin', contractors_path%>
		</li>
		<li>
			<%=link_to 'Categories of Work Admin', worktypes_path%>
		</li>
		<li>
			<%=link_to 'Officer Titles Admin', jobs_path%>
		</li>

		<li>Participation Admin</li>	
	</ul>
</nav>
