<nav>
	<input type="checkbox" id="mobile-menu" class="mobile-menu-check">
	<label for="mobile-menu" class="show-mobile-menu">Menu</label>
	<ul class="admin-nav">
		<li>
			<%=link_to 'Properties', properties_path%>
		</li>
		<li>
			<%=link_to 'People', people_path%>
		</li>
		<li>
			<%=link_to 'Calendar', upcoming_events_path%>
		</li>
		<li>Documents</li>
		<li>
			<%=link_to 'Contractor List', contractors_list_path%>
		</li>
		<li>
			<%=link_to 'Rent Report', rent_report_path%>
		</li>	
		<li>
			<%=link_to 'Participation Report', participation_path%>
		</li>
		<li>
			<%=link_to 'Rent Admin', rents_path%>
		</li>
		<li>
			<%=link_to 'Maintenance Admin', maintenances_path%>
		</li>
		<li>
			<%=link_to 'Calendar Admin', calendars_path%>
		</li>
		<li>
			<%=link_to 'Officers Admin', roles_path%>
		</li>
	</ul>
</nav>
