<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= page_description%>">
    <meta property="og:title" content="<%= page_title %>"/>
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en-GB" />
    <meta property="og:description" content="<%= page_description%>"/>
<!--
		<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta property="og:image" content="{{ site.url }}/apple-touch-icon.png"/>
    <link href="/favicon.png" rel="icon">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"> 
  -->
    <meta charset="utf-8">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div id="wrapper">
      <%= render "layouts/flashes" %>
      <div id="container">
        <main>
          <section id="sidebar">
            <%= render "layouts/sidebar" %>
          </section>
          <section id="content">
            <%= yield %>
          </section>
        </main>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
